* {
  padding: 0;
  margin: o;
  box-sizing: border-box;
}
body {
  background-color: black;
}
.container {
  width: 850px;
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.controls {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
input {
  margin-right: 20px;
  margin-left: auto;
  width: 300px;
}
.but{
  max-width: 100%;
  max-height: 100%;
}

.canvas1 {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid white;
  max-width: 100%;
  max-height: 100%;
}
button {
  margin-top: 20px;
  width: 100px;
  padding: 5px 0px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
}

button:hover{
  scale: 1.2;
  border: red solid 2px;
  color: black;
  background-color: white;
}